@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


.open-sans-mudita {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style:none;
  font-weight:400;
}
:root{
  --color-primary:#7a6930;
  --color-black:#111111;
  --color-black-ex:#222222;
  --color-dark:#7a7a7a;
  --color-dark-ex:#e5e3DA;
  --color-light:#efeee8;
  --color-bg-1:#f3f2EC;
  --color-bg-2:#EDEBE4;
  ---font-family-opensans:"Open sans",serif;
  --transition:.4s ease
}